<aside class="page-sidebar">
    <partial name="_Logo" />
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <partial name="_NavFilter" />
        @*<partial name="_NavInfoCard" />*@
        <partial name="_PageNavigation" model="@NavigationModel.Seed" />
        <partial name="_NavFilterMsg" />
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <partial name="_NavFooter" />
    <!-- END NAV FOOTER -->
</aside>