<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net472" />
  <package id="DapperExtensions" version="1.6.3" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net472" />
  <package id="MicroOrm.Dapper.Repositories" version="1.8.3" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="76.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.10.0" targetFramework="net472" />
  <package id="Selenium.Utils" version="1.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.10.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="77.0.3865.4000" targetFramework="net472" />
</packages>