@model List<P2E.Main.API.ViewModel.ExemploVM>
@{
    ViewData["Title"] = "Lista de Exemplos";
    ViewData["PageName"] = "exemplo_lista";
    ViewData["Category1"] = "Exemplo";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

@section Localization{
    <script src="@Url.Action("CldrData","Home",new {t= CldrDataScriptBuilder.GetCacheParam()})"></script>
    <script src="~/js/devextreme/localization/dx.messages.pt.js"></script>
}

<div class="row">
    <div class="col-xl-12">

        @if (!string.IsNullOrEmpty(type))
        {
            <div class="alert alert-@type alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@title</strong> @body
            </div>
        }

        <div class="panel">
            <div class="panel-hdr">
                <h1>
                    Lista de Exemplos
                </h1>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    @(Html.DevExtreme().DataGrid<P2E.Main.API.ViewModel.ExemploVM>()
                        .DataSource(ds => ds
                            .Mvc()
                            .Controller("Exemplo")
                            .Key("ExemploId")
                            .LoadAction("Listar")
                            .InsertAction("Adicionar")
                            .UpdateAction("Atualizar")
                            .DeleteAction("Excluir")
                        )
                        .Paging(paging => paging.PageSize(5))
                        .AllowColumnReordering(true)
                        .AllowColumnResizing(true)
                        .FilterRow(fr => fr.Visible(true))
                        .HeaderFilter(f => f.Visible(true))
                        .GroupPanel(gp => gp.Visible(true))
                        .Editing(e =>
                        {
                            e.Mode(GridEditMode.Popup);
                            e.AllowAdding(true);
                            e.AllowDeleting(true);
                            e.AllowUpdating(true);
                            e.Popup(p => p
                                .Title("Cadastro Exemplo")
                                .ShowTitle(true)
                                .Width(700)
                                .Height(260)
                                .Position(pos => pos
                                               .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                                               .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                                               .Of(new JS("window"))
                                           )

                                );

                        })
                    )




                </div>
            </div>
        </div>
    </div>
</div>
