
@{
    ViewData["Title"] = "Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="text-danger fal fa-times-circle font-weight-bold"></i>&nbsp;Acesso negado!</h1>
<p class="font-weight-bold">Você não possui autorização para acessar esta página.</p>
