<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net472" />
  <package id="NuGet.Build" version="2.12.0" targetFramework="net472" />
  <package id="NuGet.CommandLine" version="1.0.11220.26" targetFramework="net472" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net472" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net472" />
  <package id="Selenium.Utils" version="1.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net472" />
</packages>