@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xl-12">

        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">

                   <img src="~/img/P2E/2E_capa_face.jpg" />

                </div>
            </div>
        </div>
    </div>
</div>