@model P2E.Main.UI.Web.Models.SSO.Modulo.ModuloViewModel
@{
    ViewData["Title"] = "Cadastro";
    ViewData["PageName"] = "modulo_novo";
    ViewData["Category1"] = "Modulo";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

<div class="row">
    <div class="col-xl-12">

        @if (!string.IsNullOrEmpty(type))
        {
            <partial name="_DisplayMessagePartial" />
        }

        <div class="panel">
            <div class="panel-hdr">
                <h1>
                    Cadastro de Módulos
                </h1>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form asp-action="Save" method="post">
                        <input type="hidden" asp-for="CD_MOD" />
                        <div class="form-group">
                            <label class="form-label" asp-for="TX_DSC">Descrição</label>
                            <input type="text" maxlength="40" asp-for="TX_DSC" placeholder="Descrição" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-danger" value="Cancel" onclick="history.back();">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>