<ngb-alert [type]="'success'" *ngIf="salvouSucesso" (close)="salvouSucesso=false"> Registro salvo com sucesso!</ngb-alert>
<ngb-alert [type]="'success'" *ngIf="excluidoSucesso" (close)="excluidoSucesso=false"> Registro excluído com sucesso!</ngb-alert>
<kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'Lista de Parceiros de Negócios'" [class]="'kt-portlet__head--lg'">

        <ng-container ktPortletTools>

            <a  class="btn btn-secondary kt-margin-r-10" 
                color="primary"
                mat-raised-button
                (click)="adicionarParceiroNegocio()"
                *ngIf="verificarPermissao('Criar')"
                matTooltip="Retornar à lista de parceiro de negócios">
                <i class="la la-plus-circle"></i>
                <span class="kt-hidden-mobile">Novo parceiro de negócio</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>

        <div class="form-group row col-lg-6">
            <label class="col-lg-2 col-form-label">Pesquisar:</label>
            <div class="col-lg-8 example-container">
                <mat-form-field class="col-lg-12">
                    <input matInput placeholder="Digite o nome do Parceiro de Negocio" #filtro
                        class="mat-form-field mat-form-field-fluid">
                </mat-form-field>

            </div>
        </div>


        <div class="mat-table__wrapper">

            <mat-table matSort matSortActive="TXT_RZSOC" matSortDirection="asc" matSortDisableClear
                class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

                <ng-container matColumnDef="TXT_RZSOC">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let parceironegocio">{{parceironegocio.TXT_RZSOC}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="CNPJ">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</mat-header-cell>
                    <mat-cell *matCellDef="let parceironegocio">{{parceironegocio.CNPJ}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="TX_EMAIL">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let parceironegocio">{{parceironegocio.TX_EMAIL}}</mat-cell>
                </ng-container>

               

                <ng-container matColumnDef="editar">
                    <mat-header-cell style="flex: 0 0 75px;" *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell style="flex: 0 0 75px;" *matCellDef="let parceironegocio">
                        <a  class="btn btn-secondary kt-margin-r-10" 
                        mat-icon-button color="primary"
                        *ngIf="verificarPermissao('Visualizar')"
                        (click)="visualizarParceiroNegocio(parceironegocio.CD_PAR)"
                        matTooltip="Visualizar Parceiro Negocio">
                        <mat-icon>search</mat-icon>
                        </a>

                    </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.totalItems$ | async"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>